header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* background-color: blueviolet; */
  margin-bottom: 10px;
  width: 92.5%;
  margin: auto;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
